.App {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

.information {
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items:flex-end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  width:50%;
  margin-bottom: 100px;
  background-color: lightgray;
}

.information img{
  align-self: flex-start;
}
.information input {
  width:300px;
  height:35px;
}


.information button {
  width:200px;
  margin: 15px;
  height:40px;
  
}

button:hover {
  cursor:pointer;
}

.employees{
  display:flex;
  align-items:center;
  flex-direction:column;
  width:50%;

}

.employee{
  width:700px;
  height:auto;
  border:1px solid black;
  margin:10px;
  display:flex;
  padding:10px;  
  background-color: lightgray;

}

.employee h3{
  margin:20px;
  font-family: 'Courier New', Courier, monospace;

}
.employees button {
  margin-top: 15px;
  width:200px;
  height:40px;

}
.employee button {
  height:auto;
  width:auto;
}